.gallery--page {
	margin: 0;
	padding: 0;
	background-color: #2b332e;
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
	font-family: "Lateef", serif;
	color: #fff;
	height: fit-content;
}

.gallery--img {
    margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.gallery--img img {
	/* width: 100rem; */
	/* aspect-ratio: 3/2; */
	object-fit: contain;
}

/* .gallery--img img:hover {
	transform: scale(1.05);
} */