@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@200&display=swap");

.navbar {
	background-color: rgb(35, 37, 35, 0.75);
	/* opacity: 75%; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
}

.navbar img {
	width: 5rem;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 2.5rem;
}

.navbar ul li {
	border: 1px solid #d5d5d5;
	color: #d5d5d5;
	padding: 0.5rem 2rem;
	cursor: pointer;
}

.navbar ul li:hover {
	background-color: #fffbfb;
	color: #283128;
	box-shadow: #283128 20px 4px 12px;
}
